<nav class="navbar navbar-defaut">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Coffee Commune</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="''">Home</a></li>
                <li><a [routerLink]="'/profile'">Profile</a></li>
                <li><a [routerLink]="'/stlcoffee'">StL Coffee</a></li>
                <li><a [routerLink]="'/reviews'">Reviews</a></li>
            </ul>
        </div>
    </div>
</nav>
