agm-map {
    height: 300px;
    margin: 50px;
    margin-left: auto! important;
    margin-right: auto! important;
    /* width: 700px; */
}

    /* background: linear-gradient(#160A06, #7E4E3A, #CB8C64, #DEC1AF) center no-repeat; */
